streamlit
python-dotenv
requests
pandas
plotly
pymupdf
pdfplumber
transformers
torch
camelot-py
numpy
matplotlib
sentence-transformers
langchain
faiss-cpu
streamlit-lottie
sqlalchemy
psycopg2-binary
pgvector
werkzeug
